<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('produits') }}">
                      Magasin des chiens et des chats
                </a>
                  <ul class="nav navbar-nav pull-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <p class="navbar-text pull-left ">     {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}&nbsp; &nbsp;&nbsp;</p>

                            {#


                            #}
                            <a class="btn btn-default navbar-btn pull-right"
                               href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% else %}
                            <a class="btn btn-default navbar-btn"
                               href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        {% endif %}


                    </ul>



                    <form class="navbar-form form-search ">
                        <input id="Search" name="Search" type="text" class="input-medium search-query">
                        <button type="submit" class="btn">Rechercher</button>
                    </form>
                </div>

        </div>
    </div>



    {% block body %}{% endblock %}


    <hr />

    <footer id="footer" class="vspace20">
        <div class="container">
            <div class="row">
                <div class="span4 offset1">
                    <h4>Informations</h4>
                    <ul class="nav nav-stacked">
                        <li><a href="{{ path('page', { id : 1}) }}">CGV</a>
                        <li><a href="{{ path('page', { id : 2}) }}">Mentions légales</a>
                    </ul>
                </div>

                <div class="span4">
                    <h4>Notre entrepôt</h4>
                    <p><i class="icon-map-marker"></i>&nbsp;Paris 75 000 - 3 rue des jardins</p>
                </div>

                <div class="span2">
                    <h4>Nous contacter</h4>
                    <p><i class="icon-phone"></i>&nbsp;Tel: 02 35 00 00 00</p>
                    <p><i class="icon-print"></i>&nbsp;Fax: 02 35 00 00 00</p>
                </div>
            </div>

            <div class="row">
                <div class="span4">
                    <p>&copy; Copyright 2014 - Stanou</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{{ asset('js/jquery-1.10.0.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% block javascripts %}{% endblock %}
    </body>


</html>
